		<div class="order-summary">
            <div class="order-summary__section order-summary__section--header">
                <h3>Order Summary</h3>
			</div>
			<div class="summary-body">
				<div class="order-summary__section order-summary__section--product-list">
					<ul class="product-list">
						<li class="product product--has-image">
							<img src="" class="product__image" alt="product_image" />
							<div class="product__info">
								<span class="product__info__name">
									<strong></strong>&nbsp;*&nbsp;1
								</span>
								<span class="product__info__description">
								</span>
							</div>
							<strong class="product__price">
							</strong>     
						</li>
					</ul>
				</div>
				<div class="order-summary__section">
					<div class="total-line total-line--subtotal">
						<span class="total-line__name">Subtotal</span>
						<strong class="total-line__price line__price" data-checkout-subtotal-price-target="">
						</strong>
					</div>
					<div class="total-line total-line--shipping">
						<span class="total-line__name">Shipping</span>
						<strong class="total-line__price" data-checkout-total-shipping-target="">
							--
						</strong>
					</div>
					<div class="total-line total-line--taxes">
						<span class="total-line__name">Taxes</span>
						<strong class="total-line__price" data-checkout-total-taxes-target="">
							--
						</strong>
					</div>
					<div class="total-line total-line--total">
						<span class="total-line__name">Total</span>
						<strong class="total-line__price line__price" data-checkout-total-price-target="">
						</strong>
					</div>
				</div>
				<div class="order-summary__section">
					<div class="payment-due-container">
						<span class="payment-due__label">Payment Due</span>
						<div class="payment-due">
							<div class="payment-due__price" data-checkout-payment-due-target="">
							</div>
							<div class="payment-due__currency">
								USD
							</div>
						</div>
					</div>
				</div>
			</div>  
		</div>
